nav h3 {
    color: white;
}
h4 {
    display: inline;
    margin-right: 10px;

}
section {
    padding-top: 10px;
}
.user-section {
    background-color: #f1eded;
    border-radius: 10px;
}

.display-section {
    border: 1px solid #f1eded;
    border-radius: 10px;
}
.forecast-weather{
    margin-left: 15px;
}

#cityList {
    list-style: none;
}
#cityList li {
    padding: 5px;
    width: 50%;

}
#day1,
#day2,
#day3,
#day4,
#day5
{
    text-align: center;
    background-color: #34495e;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    /* Beautify our forecasts with shadows, for all browsers */
    -webkit-box-shadow: 0 5px 5px 0 rgb(145, 143, 143);  
    -moz-box-shadow:    0 5px 5px 0 rgb(145, 143, 143);  
    box-shadow:         0 5px 5px 0 rgb(145, 143, 143); 
}